<% for(let count = 0; count < rating; count++ ) { %>
  <span class="glyphicon glyphicon-star"></span>
<% } %>
<% for(let count = 0; count <  5 - rating; count++ ) { %>
  <span class="glyphicon glyphicon-star-empty"></span>
<% } %>