<% for(let count = 0; count < Math.round(rating); count++ ) { %>
  <span class="glyphicon glyphicon-star"></span>
<% } %>
<% for(let count = 0; count <  5 - Math.round(rating); count++ ) { %>
  <span class="glyphicon glyphicon-star-empty"></span>
<% } %>