<script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
