<div class="container">
  <footer>
    <div class="row">
      <div class="col-xs-12">practice kephin 2017</div>
    </div>
  </footer>
</div>
<script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/validation.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/axios-0.16.1.min.js" type="text/javascript" charset="utf-8"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRLw_tEu9-hz8hNlaH9K_Do_Bk7O-jcDU&callback=initMap"></script>
<script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
