<div class="container">
  <footer>
    <div class="row">
      <div class="col-xs-12">practice kephin 2017</div>
    </div>
  </footer>
</div>

<script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
