body > .container:first-of-type {
    padding-top: 50px;
}

.review {
    padding-bottom: 5px;
}

.panel-body.review-container {
    padding-top: 0;
}

.review-header {
    margin-bottom: 10px;
}

.reviewAuthor {
    margin: 0 5px;
}

.reviewTimestamp {
    color: #ccc;
}

#map {
  height: 350px;
  width: 400px;
  width: 100%;
}
